name: sc-dandelion-container
channels:
- conda-forge
- bioconda
- anaconda
- defaults
dependencies:
- python=3.9
- seaborn
- scikit-learn
- statsmodels
- numba
- pytables
- python-igraph
- leidenalg
- graph-tool
- pip
- pytest
- tbb
- pip:
  - matplotlib<=3.5.3
  - scanpy>=1.7.0
  - rpy2==3.4.2
  - palantir
