*.egg
*.eggs
*.pyc
*.DS_Store
*-checkpoint.ipynb
*/dist/
*__pycache__
*scmtag.py
dist/*
sc_dandelion.egg-info/*
dandelion/logging/version.py
tests/test_local.py
tests/reassigned_all/reassigned_all_heavy_igblast_db-pass.tsv
tests/reassigned_all/reassigned_all_heavy_igblast_db-pass_germ-pass.tsv
tests/reassigned_all/reassigned_all_light_igblast_db-pass.tsv
tests/reassigned_all/reassigned_all_light_igblast_db-pass_germ-pass.tsv
tests/reassigned_filtered/reassigned_filtered_heavy_igblast_db-pass.tsv
tests/reassigned_filtered/reassigned_filtered_heavy_igblast_db-pass_germ-pass.tsv
tests/reassigned_filtered/reassigned_filtered_light_igblast_db-pass.tsv
tests/reassigned_filtered/reassigned_filtered_light_igblast_db-pass_germ-pass.tsv
