*.egg
*.eggs
*.pyc
*.DS_Store
*-checkpoint.ipynb
*/dist/
*__pycache__
*.pytest_cache
*scmtag.py
*dist
*sc_dandelion.egg-info
*.coverage
*.coverage*
*coverage.xml
*coverage_code.xml
dandelion/logging/version.py
/tests/test_local.py
/tests/test_local_tr.py
reassigned_all/
reassigned_filtered/

